@use '../utilities/mixing';
@use '../utilities/variables';

/* header */
nav {
    font-size: variables.$font-size-nav;
    background-color: variables.$background;
    
    .logo {
        width: 40px;
        border: 1px solid #B02635;
        border-radius: 10px;
    }

    .nav-modificado {
        @include mixing.flex (row-reverse, space-between);
        // display: flex;
        // flex-direction: row-reverse;
        // justify-content: space-between;

        .links-modificados {
            color: white;
            text-decoration: none;
            margin-right: 20px;
            padding: 5px;

            &:hover {
                color: #B02635;
                background-color: white;
                border-radius: 10px;
            }
        }
    }
}

@media (max-width: 450px) {
    .boton-modificado {
        background-color: white;
    }
    nav .nav-modificado {
        flex-direction: row;
    }
}