@use '../utilities/extend';
@use '../utilities/variables';

.titulo-instalaciones {
    @extend %titulo;
    // text-align: center;
    // color: white;
    // margin: 10px 0;
    // font-size: 80px;
}

.texto-instalaciones {
    text-align: center;
    color: white;
    font-size: variables.$font-size-instalaciones;
    margin: variables.$margin-completo;
}

.main-instalaciones {
    margin: 0;
    margin-bottom: 50px;
    
    .carrosel-img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .texto-columna-2 {
        font-size: 20px;
        color: white;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .otrasIntalaciones{
        font-size: 20px;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .carrosel-img {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }
    }
}

@media (max-width: 450px) {
    .titulo-instalaciones {
        margin: 10px 0;
        font-size: 60px;
    }     
    
    .texto-instalaciones {
        margin: 50px;
    }

    .main-instalaciones .row {
        display: flex;
        flex-direction: column;
    }

    .texto-columna-2 {
        margin-top: 20px;
    }

    .otrasIntalaciones p {
        text-align: center;
        margin: 25px 25px;
    }
}