.grid-bienvenida {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px;
    align-items: center;
    grid-template-areas: "texto-bienvenida img-bienvenida"
    "texto-bienvenida img-bienvenida";

    .texto-bienvenida {
        grid-area: texto-bienvenida;
        color: white;
        text-align: center;
        margin-left: 30px;
        font-size: 20px;

        h1 {
            font-size: 100px;
            margin: 0;
        }
        p {
            margin: 0px;
        }   
    }
}

main section figure {
    display: flex;
    justify-content: center;

    .img-bienvenida {
        grid-area: img-bienvenida;
        width: 600px;
    }
}

.grid-historia {
    margin: 150px 100px;
    display: grid;
    grid-template-rows:
    300px 400px;
    grid-template-areas: "texto-historia"
    "img-historia";

    .texto-historia {
        grid-area: texto-historia;
        color: white;
        text-align: center;
        font-size: 20px;

        h1 {
            font-size: 100px;

            .img-historia {
                grid-area: img-historia;
            }
        }
    }
}

@media (max-width: 450px) {
    .grid-bienvenida {
        margin-top: 50px;
        grid-template-rows: 300px 350px;
        grid-template-columns: 375px;
        grid-template-areas: "texto-bienvenida "
        "img-bienvenida";
    
        .texto-bienvenida {
            margin: 0 10px;
            font-size: 15px;
        
            h1 {
                font-size: 60px;
            }
        }
        .img-bienvenida {
            width: 350px;
        }    
    }

    .grid-historia {
        grid-template-rows:
        400px 270px;
        grid-template-columns: 375px;
        grid-template-areas: "texto-historia"
        "img-historia";
        margin: 0;
    
        .texto-historia {
            margin: 0 10px;
            font-size: 15px;
        
            h1 {
                font-size: 60px;
            }
        }
        .img-historia {
            width: 350px;
            height: 200px;
        }
    }
}
