/* fuente */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* font-family: "Bebas Neue", sans-serif; */

/* aplicar fuente general */
body {
    font-family: "Bebas Neue", sans-serif;
}

/* header */
nav {
    font-size: 24px;
}
.bg-nav {
    background-color: #B02635;
}
.logo {
    width: 40px;
    border: 1px solid #B02635;
    border-radius: 10px;
}
.nav-modificado {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.links-modificados {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 5px;
}
.links-modificados:hover{
    color: #B02635;
    background-color: white;
    border-radius: 10px;
}
@media (max-width: 991px) {
    .boton-modificado {
    background-color: white;
    }
    .nav-modificado {
        flex-direction: row;
    }
}